.tableHeadCover {
  &__row {
    background-color: #f9fafb;
    border-radius: 6px;
  }
  &__rowHead {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(71, 84, 103, 0.75);
    cursor: pointer;
    border-radius: 6px;
  }

  &__rowList {
    display: flex;
    align-items: center;
  }
}
