.tableBodyCover {
  border-bottom: 1px solid rgba(242, 244, 247, 1);

  &__row {
    cursor: pointer;
  }

  &__td {
    padding: 20px 18px 15px 18px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #d9d9d9;
    font-family: ExoRegular;
  }

  &__tableTooltip {
    background-color: blanchedalmond !important;
    color: #646464 !important;
    font-size: 14px !important;
    padding: 8px 12px !important;
    border-radius: 4px !important;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05) !important;
    font-family: ExoRegular !important;
  }
}
