.tableWrapper {
  margin-top: 32px !important;
  border-radius: 4px;
  min-height: 590px;
  display: flex;
  flex-direction: column;
  overflow: auto;

  &__mobileViewWrapper {
    display: block;
    min-height: calc(100vh - 320px);
  }

  &__tableCover {
    display: none;
    flex-grow: 1;
    min-height: 600px;
  }

  &__table {
    width: 100%;
    white-space: nowrap;
  }

  &__paginationCover {
    border-top: 1px solid rgba(242, 244, 247, 1);
  }

  @media (min-width: 651px) {
    &__mobileViewWrapper {
      display: none;
    }
    &__tableCover {
      display: flex;
    }
  }
}
